@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 450px;
    min-height: 300px;
}

.page {
    width: 450px;
    min-height: 300px;
    padding: 2rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    /* animation: FadeOut 0.5s ease forwards; */
    animation: FadeOut 0s ease forwards;
    position: absolute;
    overflow: hidden;
}

.page.active {
    animation: slideIn 0.5s 0.5s ease both;
    z-index: 10;
}

.page h2 {
    text-align: center;
    margin: 0;
}

.page ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 20px 0;
    font-size: 1.3rem;
}

li label,
li input {
    cursor: pointer;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    width: 49.9%;
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
}

button.next {
    bottom: 0;
    right: 0;
}

button.previous {
    bottom: 0;
    left: 0;
}

button:focus {
    outline: none;
}

button:active,
button:hover {
    opacity: 0.9;
}

@keyframes FadeOut {
    50% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(0.95);
        opacity: 0;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    70% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    30% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}